anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
click==8.1.3
contourpy==1.0.5
cryptography 
cycler==0.11.0
debugpy 
decorator 
defusedxml 
dill==0.3.5.1
entrypoints 
executing 
fastjsonschema 
filelock==3.8.0
fonttools==4.37.3
huggingface-hub==0.9.1
idna 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isodate==0.6.1
jedi 
Jinja2 
joblib==1.2.0
json5 
jsonschema 
jupyter 
jupyter-console 
jupyter-core 
jupyter-server 
jupyter_client 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
kiwisolver==1.4.4
MarkupSafe 
matplotlib==3.6.0
matplotlib-inline 
mistune 
multiprocessing-on-dill==3.5.0a4
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk==3.7
notebook 
numpy==1.23.3
om @ git+https://github.com/guihcs/omatch.git@6b43c0df775a4637f7e9e0c7227bef48118ed11c
packaging 
pandas==1.5.0
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow==9.2.0
ply==3.11
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
python-dateutil 
pytz 
PyYAML==6.0
pyzmq 
qtconsole 
QtPy 
rdflib==6.2.0
regex==2022.9.13
requests 
Send2Trash 
sip 
six 
sniffio 
soupsieve 
stack-data 
termcolor==2.0.1
terminado 
testpath 
tokenizers==0.12.1
toml 
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado 
tqdm==4.64.1
traitlets 
transformers==4.22.1
typing_extensions 
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
widgetsnbextension 
